<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <h1>TODO List</h1>
      <p>A place to store your todos</p>
      <form>
      <input class="filter" name="filter" [(ngModel)]="filter" type="text" placeholder="Filter your to-dos" />
    </form>
      <ol class="todo">
          <li *ngFor="let item of getFilteredResults(); let i = index">
            <!-- <li *ngFor="let item of todo | filter: searchText; let i = index"> -->
          <button class="complete" *ngIf="!item.completed" (click)="completeTask(i)">Complete</button>
          <span [ngStyle]="{'text-decoration' : item.completed === true ? 'line-through' : 'none'}">
            {{ item.task }}
            </span>
          <button class="delete" (click)="removeTask(i)">X</button>
        </li>
      </ol>
      <input class="new-todo" [(ngModel)]="newItem" type="text" placeholder="Add your to-do" />
      <button class="addBtn" (click)="addTask(newItem)">Add</button>
    </main>
  </body>
</html>
