<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <h1>TODO List</h1>
      <p>A place to store your todos</p>
      <input type="text" placeholder="Filter your to-dos" />
      <ol class="todo">
        <li *ngFor="let item of todo">
          <button class="complete" *ngIf="!item.completed">Complete</button><span [ngStyle]="{'text-decoration': item.completed === true ? 'line-through' : 'none'}"> {{ item.task }}</span>
          <button class="delete">X</button>
        </li>
      </ol>
      <input type="text" placeholder="Add your to-do" />
      <button class="add">Add</button>
    </main>
  </body>
</html>
